/* 832 */

header {
    margin: 0 auto;
    padding: 20px 0px;
    max-width: 52rem;
    position: sticky;
    top: 0;
    z-index: 2;

    .heaerC {
        display: flex;
        align-items: center;
        justify-content: space-between;

        border-radius: 0.54rem;
        padding: 8px 10px;
    }

    .name {
        padding: 0px 10px;

        span {
            font-weight: 600;
            color: var(--txt-strong);
        }
    }

    nav {
        display: flex;
        align-items: center;
        gap: .3rem;
        padding: 0px 6px;

        a {
            text-decoration: none;
            color: var(--txt-medio);
            font-size: .875rem;
            padding: .4rem .65rem;

            font-weight: 600;
        }

        button {
            border: none;
            border-radius: 8px;
            padding: 10px 20px;
            background-color: var(--hover-scrobar-dots);
            color: var(--txt-hover);

            font-family: inherit;
            font-size: .875rem;
            font-weight: 600;
            cursor: pointer;
        }
    }

    .config {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0px 10px;

        a {
            display: flex;
        }

        svg {
            width: 18px;
            height: 18px;
            color: var(--txt-medio);
            cursor: pointer;
        }
    }
}


.progressoBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 1px;
    background: var(--hover-scrobar-dots);
    z-index: 1;
    width: 100%;
    transform-origin: left;
    transform: scaleX(0);
}

@media (max-width: 640px) {
    header {
        display: none;
    }
}

@media (max-width: 1024px) and (min-width: 641px) {
    header .heaerC {
        padding: 6px 8px;
    }

    header nav a {
        font-size: .75rem;
        padding: .3rem .45rem;
    }

    header .name span {
        font-size: .875rem;
    }
}

@media (max-width: 1280px) and (min-width: 1025px) {
    header nav a {
        font-size: .8rem;
        padding: .35rem .5rem;
    }
}